.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #53B200;
}

body {
    background-color: #BEBEBE;
    height: 747px;
}

#menuButton {
    position: fixed;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#menuButton i {
    font-size: 24px;
}

#menuContent {
    display: none;
    position: fixed;
    top: 58px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 690px;
    background-color: #53B200;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3%;
}

#menuContent a {
    display: block;
}

#features-list {
    list-style-type: disc;
    margin-top: 10%;
}

#features-list li {
    margin-bottom: 20px;
}

.menu-link {
    width: 150px;
    color: white;
}

.menu-link:hover {
    color: white;
    font-weight: bolder;
}

#help-links {
    margin-top: 250px;
    justify-content: center;

}

.help-link {
    margin-left: 25%;
    margin-bottom: 15px;
    width: 100px;
    color: white;

}

.help-link:hover {
    color: white;
    font-weight: bolder;
}

#ScienceHubLogo {
    height: 42px;
    margin-left: 15%;
}

.title {
    position: fixed;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#signOutLink {
    margin-left: auto;
    text-align: center;
    color: white;
}

#signOutLink:hover {
    color: red;
    font-weight: bolder;
}

.links {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #2E3329;
}

#verticalLine {
    border-left: 2px solid white;
    height: fit-content;
}

.btn-link {
    width: 230px;
    color: white;

}

.btn-link:hover {
    width: 239px;
    color: white;
    font-weight: bolder;
}

#centerPanel {
    margin-top: 1%;
    margin-left: 10%;
    height: 630px;
    width: 1250px;
    background-color: white;
    border: solid black 2px;
    border-radius: 2%;
}

h4 {
    margin-top: 1%;
    justify-content: center;
    text-align: center;
}

hr {
    position: relative;
    margin-left: 40%;
    width: 20%;
    border: solid black 1px;
}


.form {
    padding: 10px;
}

.form-publicacion-field {
    margin-top: 2%;
    text-align: center;
}

#idPublicacion {
    margin-left: 2%;
    width: 450px;
}

#buscarButton {
    margin-left: 5%;
    height: 30px;
    width: 120px;
    padding-top: 0%;
    background-color: #53B200;
}

#buscarButton:hover {
    font-weight: bold;
    background-color: darkgreen;
}

#buscarButton i {
    font-size: 13px;
}

#buscarSpan {
    margin-left: 5px;
}