<!DOCTYPE html>
<html>

<head>
    <title>Crear publicación</title>
    <link rel="stylesheet" type="text/css" href="my-publications.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="header">
        <button id="menuButton"><i class="fas fa-bars"></i></button>
        <div id="menuContent">
            <hr>
            <ul id="features-list">
                <li><a routerLink="../create-publication" class="menu-link">Crear publicación</a></li>
                <li><a routerLink="../my-publications" class="menu-link">Mis publicaciones</a></li>
                <li><a routerLink="../search-publication" class="menu-link">Buscar publicación</a></li>
                <li><a routerLink="../search-organization" class="menu-link">Buscar organismo</a></li>
                <li><a routerLink="../suggest-projects" class="menu-link">Recomendaciones proyectos</a></li>
            </ul>

            <hr>
            <div id="help-links">
                <a routerLink="../create-publication" class="help-link">FAQ</a>
                <a routerLink="../create-publication" class="help-link">Opciones</a>
                <a routerLink="../create-publication" class="help-link">Ayuda</a>
                <a routerLink="../create-publication" class="help-link">Contacto</a>
            </div>

        </div>
        <img src="../../../assets/images/ScienceHub Logo.png" id="ScienceHubLogo" alt="Logo de ScienceHub">
        <span class="title">Científico</span>
        <div class="user-panel" (click)="showOptions = !showOptions" [class.active]="showOptions">
            <div class="user-panel-header">
                <div class="name-icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <span id="nameSpan">{{ userName }}</span>
                </div>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="user-panel-options">
                <div class="user-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                    <a routerLink="../register" id="profileOption">Mi Perfil</a>
                </div>
                <div class="user-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="darkred"
                        class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                    </svg>
                    <a routerLink="../register" id="signOutOption">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <a routerLink="../create-publication" class="btn btn-link">Crear publicación </a>
        <div id="verticalLine">|</div>
        <a routerLink="../my-publications" class="btn btn-link">Mis publicaciones</a>
        <div id="verticalLine">|</div>
        <a routerLink="../search-publication" class="btn btn-link">Buscar publicación</a>
        <div id="verticalLine">|</div>
        <a routerLink="../search-organization" class="btn btn-link">Buscar organismo</a>
        <div id="verticalLine">|</div>
        <a routerLink="../suggest-projects" class="btn btn-link">Recomendaciones proyectos</a>

    </div>

    <div id="contentPanel">
        <div id="centerPanel">
            <h4>Mis publicaciones</h4>
            <hr>
            <div *ngIf="publicaciones.length > 0; else noPublicaciones">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Índice</th>
                                <th>ID Publicación</th>
                                <th>Título</th>
                                <th>Última Modificación</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let publicacion of paginatedPublicaciones">
                                <td>{{ publicaciones.indexOf(publicacion) + 1 }}</td>
                                <td>{{ publicacion.id }}</td>
                                <td>{{ publicacion.title }}</td>
                                <td>{{ (publicacion.updateLife != null) ? convertirFormatoHora(publicacion.updateLife) :
                                    convertirFormatoHora(publicacion.initLifeDate)
                                    }}</td>
                                <td>
                                    <button id="editButton" *ngIf="publicacion?.id"
                                        [routerLink]="'../edit-publication/' + publicacion.id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </button>
                                </td>
                                <td><button id="deleteButton" (click)="eliminarPublicacion(publicacion.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                            class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="pagination-container">
                    <div class="pagination">
                        <button (click)="anteriorPagina()" [disabled]="paginaActual === 1">Anterior</button>
                        <span>{{ paginaActual }} de {{ paginasTotales }}</span>
                        <button (click)="siguientePagina()"
                            [disabled]="paginaActual === paginasTotales">Siguiente</button>
                    </div>
                </div>
            </div>
            <ng-template #noPublicaciones>
                <p id="noPublications">No existen publicaciones.<br>Añade una nueva publicación en "Crear publicación".
                </p>
            </ng-template>

        </div>
    </div>
</body>

</html>