<!DOCTYPE html>
<html>

<head>
    <title>Crear publicación</title>
    <link rel="stylesheet" type="text/css" href="my-publications.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="header">
        <button id="menuButton"><i class="fas fa-bars"></i></button>
        <div id="menuContent">
            <ul id="features-list">
                <li><a routerLink="../create-publication" class="menu-link">Crear publicación</a></li>
                <li><a routerLink="../my-publications" class="menu-link">Mis publicaciones</a></li>
                <li><a routerLink="../register" class="menu-link">Buscar publicación</a></li>
                <li><a routerLink="../register" class="menu-link">Buscar organismo</a></li>
                <li><a routerLink="../register" class="menu-link">Recomendaciones proyectos</a></li>
            </ul>

            <div id="help-links">
                <a routerLink="../create-publication" class="help-link">FAQ</a>
                <a routerLink="../create-publication" class="help-link">Opciones</a>
                <a routerLink="../create-publication" class="help-link">Ayuda</a>
                <a routerLink="../create-publication" class="help-link">Contacto</a>
            </div>

        </div>
        <span class="title">Científico</span>
        <a routerLink="../login" id="signOutLink" class="btn btn-link">Cerrar sesión</a>
    </div>

    <div class="links">
        <a routerLink="../create-publication" class="btn btn-link">Crear publicación </a>
        <div id="verticalLine">|</div>
        <a routerLink="../my-publications" class="btn btn-link">Mis publicaciones</a>
        <div id="verticalLine">|</div>
        <a routerLink="../register" class="btn btn-link">Buscar publicación</a>
        <div id="verticalLine">|</div>
        <a routerLink="../register" class="btn btn-link">Buscar organismo</a>
        <div id="verticalLine">|</div>
        <a routerLink="../register" class="btn btn-link">Recomendaciones proyectos</a>

    </div>

    <div id="contentPanel">
        <div id="centerPanel">
            <h4>Mis publicaciones</h4>
            <hr>
            <div *ngIf="publicaciones.length > 0; else noPublicaciones">
                <table>
                    <thead>
                        <tr>
                            <th>Índice</th>
                            <th>ID Publicación</th>
                            <th>Título</th>
                            <th>Última Modificación</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let publicacion of publicaciones; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ publicacion.id_publicacion }}</td>
                            <td>{{ publicacion.titulo }}</td>
                            <td>{{ publicacion.ultima_modificacion }}</td>
                            <td><button (click)="editarPublicacion(publicacion.id_publicacion)">Editar</button></td>
                            <td><button (click)="eliminarPublicacion(publicacion.id_publicacion)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #noPublicaciones>
                <p id="noPublications">No existen publicaciones.<br>Añade una nueva publicación en "Crear publicación".
                </p>
            </ng-template>

        </div>
    </div>
</body>

</html>