@import "~bootstrap/dist/css/bootstrap.min.css";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #53B200;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 178, 0, 1) 50%, rgba(2, 0, 36, 1) 100%);
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 178, 0, 1) 50%, rgba(2, 0, 36, 1) 100%);
    height: 747px;
}

#menuButton {
    position: fixed;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

#menuButton i {
    font-size: 24px;
}

#menuContent {
    display: none;
    position: fixed;
    top: 58px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 690px;
    background-color: #53B200;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3%;
}

#menuContent a {
    display: block;
}

.accordion {
    background-color: #53B200;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: darkgreen;
}

.panel {
    padding: 0 18px;
    background-color: darkgreen;

    display: none;
    overflow: hidden;
}

#SHLogoSubMenu {
    height: 42px;
    margin-left: 15%;
}

#hrSubMenu {
    width: 170px;
    right: 70px;
}

.submenu-link {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #2E3329;
    color: white;
    outline: 2px solid black;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 2px;
}

.submenu-link:hover {
    background-color: #53B200;
    text-decoration: underline;
    font-weight: bold;
}

#signOutSubMenu {
    background-color: #53B200;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 3%;
}

#signOutSubMenu:hover {
    background-color: darkgreen;
}

#ScienceHubLogo {
    height: 42px;
    margin-left: 15%;
}

.title {
    position: fixed;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.user-panel {
    margin-left: auto;
    border: solid 3px black;

    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-panel-header {
    font-weight: bold;
    white-space: nowrap;
    background-color: white;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.user-panel-header:hover {
    background-color: rgb(98, 98, 98);
    color: white;

}

.name-icon-container {
    padding: 4px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    flex: 1;
}

.name-icon-container i {
    margin-left: 5px;

    flex-shrink: 0;
}

#nameSpan {
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fa-chevron-down {
    font-size: 16px;
    margin-left: 5px;
}

.user-panel-options {
    position: absolute;
    bottom: -147px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    min-width: 160px;
    display: none;
    border: 1px solid black;
}

.user-panel.active .user-panel-options {
    display: block;
}

.user-option {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-option:hover {
    background-color: lightgray;
    font-weight: bolder;
}

.user-option:last-child {
    border-bottom: none;
}

#profileOption {
    margin-left: 15px;
    color: black;
}


#signOutOption {
    margin-left: 15px;
    color: black;
}

#signOutOption:hover {
    color: red;
}

#home-button {
    margin-right: 2%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

#home-button:hover {
    font-size: 22px;
}

.links {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: #141612
}

#verticalLine {
    border-left: 2px solid white;
    height: fit-content;
}

.btn-link {
    width: 180px;
    color: white;
    white-space: nowrap;
}

.btn-link:hover {
    width: 185px;
    color: white;
    font-weight: bolder;
}

#centerPanel {
    margin-top: 1%;
    margin-left: 10%;
    height: 610px;
    width: 1250px;
    background-color: white;
    border: solid black 2px;
    border-radius: 2%;
}

h4 {
    margin-top: 1%;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    text-align: center;
}

hr {
    position: relative;
    margin-left: 40%;
    width: 20%;
    border: solid black 1px;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    max-height: 425px;
    overflow-y: auto;
    width: 1100px;
}

thead {
    position: sticky;
    top: 0;
}

table,
th,
td {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    text-align: center;
    border: 1px solid #ddd collapse;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}


th {
    background-color: #000000;
    color: white;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr {
    height: 50px;
}

tr:hover {
    background-color: #ddd;
}

.inactive-publication {
    background-color: lightcoral;
    transition: background-color 0.3s;
}

.inactive-publication:hover {
    background-color: darkred;
    color: white;
}

#editButton {
    background-color: rgb(0, 72, 255);
    border-radius: 10px;
    width: 40px;
    padding-bottom: 7px;
}

#editButton:hover {
    background-color: darkblue;
}

#deleteButton {
    border-radius: 10px;
    width: 40px;
    background-color: red;
    padding-bottom: 7px;
}

#deleteButton:hover {
    background-color: darkred;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.pagination button {
    margin: 0 5px;
}

#backButton:enabled {
    margin-right: 5%;
    padding: 2%;
    background-color: white;
    color: black;
    width: 130px;
}

#backButton:enabled:hover {
    background-color: black;
    color: white;
}

#backButton:disabled {
    margin-right: 5%;
    padding: 2%;
    width: 130px;
}


#pageSpan {
    width: 120px;
}

#nextButton:enabled {
    margin-left: 5%;
    padding: 2%;
    background-color: white;
    color: black;
    width: 130px;
}

#nextButton:enabled:hover {
    background-color: black;
    color: white;
}

#nextButton:disabled {
    margin-left: 5%;
    padding: 2%;
    width: 130px;
}

#noPublications {
    margin-top: 15%;
    text-align: center;
}