<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">

        <img src="../../../assets/images/ScienceHub Logo.png" id="ScienceHubLogo" alt="Logo de ScienceHub">
        <span class="title">A d m i n i s t r a d o r</span>

    </div>


    <div id="contentPanel">
        <div id="centerPanel">
            <div id="homeSubtitle">
                <span><b><u>¡Bienvenido a Science Hub! Tu portal principal hacia la comunidad científica</u></b></span>
            </div>

            <p class="homeParagraph">
                Te damos la bienvenida a un espacio en el fascinante mundo de la ciencia donde la curiosidad conduce a
                la colaboración y a la innovación. <br>
                Como administrador, tienes un control total sobre todos los usuarios, publicaciones de científicos y
                proyectos de organismos que conforman la aplicación.
            </p>

            <p class="question"><b><em>¿Cómo puedo gestionar los usuarios de la aplicación?</em></b></p>

            <p class="homeParagraph">
                Al ser administrador, puedes gestionar a los usuarios de la aplicación: científicos y organismos. <br>
                En 'Listar usuarios', dispones de un listado tanto de científicos como de organismos. Podrás editar su
                información,
                eliminarlos y, en caso de que estén dados de baja, serás el único usuario en poder reactivarlos. <br>

                De la misma manera, podrás gestionar las publicaciones de los científicos en 'Listar publicaciones' y
                los proyectos de los
                organismos en 'Listar proyectos'.

            </p>


            <p class="question"><em><u>¡Administra la aplicación con responsabilidad!</u></em>
            </p>

            <div id="box-button">
                <button id="comenzarButton" routerLink="../list-publications">Comenzar</button>
            </div>
        </div>

    </div>

</body>

</html>