.screen {
    background: linear-gradient(0deg, #000000, #00A2FF, #000000, #53B200, #000000);
    background-size: 800% 800%;

    animation: animation 350s ease infinite;

    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animation {

    0%,
    100% {
        background-position: 50% 0%;
    }

    20%,
    80% {
        background-position: 50% 100%;
    }



    40%,
    60% {
        background-position: 50% 200%;
    }

    60%,
    40% {
        background-position: 50% 200%;
    }

    80%,
    20% {
        background-position: 50% 100%;
    }

    100%,
    0% {
        background-position: 50% 0%;
    }
}

#SHLogoSubMenu {
    margin-top: 3%;
    margin-bottom: 2%;
    height: 10%;
    width: 25%;
    margin-left: 38%;
    object-fit: contain;
}

.card {
    position: relative;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 3px black solid;
    border-radius: 50px;
    background-color: white;
}

.card-header {
    position: relative;
    text-align: center;
    margin-top: 1%;
    margin-left: 25%;
    width: 300px;
    font-weight: bold;
    background-color: white;
}

.card-body {
    margin-top: 2%;
    margin-left: 5%;
}

input[type="radio"]:checked+label {
    font-weight: bolder;
}

#cientifico {
    margin-left: 7%;
}

#label-cientifico {
    margin-left: 2%;
}

#organismo {
    margin-left: 5%;
}

#label-organismo {
    margin-left: 2%;
}

#formulario-cientifico {
    margin-top: 2%;
    margin-left: 6%;
}

.form-cientifico-field {
    margin-top: 5%;
}

#nombreCientifico {
    margin-left: 6%;
    width: 250px;

}

#emailCientifico {
    margin-left: 23%;
    width: 253px;
}

#orcidCientifico {
    margin-left: 21%;
    width: 253px;
}

#profesionCientifico {
    margin-left: 17%;
    width: 253px;
}

#passwordCientifico {
    margin-left: 13%;
    width: 253px;
}

.showPasswordButton {
    margin-left: 2%;
    border-radius: 50px;
}

.showPasswordButton:hover {
    font-weight: bolder;
}

#eye {
    width: 25px;
    height: auto;
}

#registrarseCientifico {
    text-align: center;
    margin-top: 5%;
    margin-left: 15%;
    width: 100px;
    border-radius: 5px;
    background-color: lightgreen;
}

#registrarseCientifico:hover {
    background-color: green;
    font-weight: bolder;
    color: white;
}

#cancelar {
    margin-left: 20%;
    color: darkred;
}

#cancelar:hover {
    color: red;
    font-weight: bolder;
}

#formulario-organismo-publico {
    margin-left: 7%;
}

.form-organismo-field {
    margin-top: 3%;
}

#RBpublico {
    margin-left: 18%;
}

#label-publico {
    margin-left: 2%;
}

#label-privado {
    margin-left: 2%;
}

#RBprivado {
    margin-left: 8%;
}

#codigoDIR3 {
    margin-left: 12%;
    width: 253px;
}

#nombreOrganismo {
    margin-left: 4.5%;
    width: 253px;
}

#emailOrganismo {
    margin-left: 22%;
    width: 253px;
}

#localidadOrganismo {
    margin-left: 16%;
    width: 253px;
}

#passwordOrganismo {
    margin-left: 12%;
    width: 253px;
}

#registrarseOrganismo {
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    width: 100px;
    border-radius: 5px;
    background-color: lightgreen;
}

#registrarseOrganismo:hover {
    background-color: green;
    font-weight: bolder;
    color: white;
}

#formulario-organismo-privado {
    margin-left: 7%;
}

#NIF {
    margin-left: 25%;
    width: 253px;
}