<body>
  <div class="screen">
    <div class="card">
      <h4 class="card-header">Registro de usuario</h4>
      <div class="card-body">
        <div class="user-selection">
          <label>Selecciona un tipo de usuario:</label>
          <input type="radio" id="cientifico" name="tipoUser" value="cientifico" (click)="mostrarFormulario()">
          <label for="cientifico" id="label-cientifico">Científico</label>
          <input type="radio" id="organismo" name="tipoUser" value="organismo" (click)="mostrarFormulario()">
          <label for="organismo" id="label-organismo">Organismo</label>
        </div>

        <div *ngIf="mostrarFormularioCientifico" id="formulario-cientifico">
          <form id="formularioCientifico">

            <div class="form-cientifico-field">
              <label for="nombreCientifico">Nombre completo:</label>
              <input type="text" id="nombreCientifico" name="nombre"><br>
            </div>
            <div class="form-cientifico-field">
              <label for="emailCientifico">Email:</label>
              <input type="email" id="emailCientifico" name="email"><br>
            </div>
            <div class="form-cientifico-field">
              <label for="orcidCientifico">ORCID:</label>
              <input type="text" id="orcidCientifico" name="orcid"><br>
            </div>
            <div class="form-cientifico-field">
              <label for="profesionCientifico">Profesión:</label>
              <input type="text" id="profesionCientifico" name="profesion"><br>
            </div>

            <div class="form-cientifico-field">
              <label for="passwordCientifico" style="font-weight: bold;">Contraseña:</label>
              <input type="password" id="passwordCientifico" name="password">
              <button id="showPasswordButtonCientifico" class="showPasswordButton"
                (click)="passwordVisibility('passwordCientifico', 'showPasswordButtonCientifico')">
                <img id="eye" src="../../../assets/images/show_eye_icon.png" alt="Mostrar contraseña">
              </button><br>
            </div>


            <input type="submit" id="registrarseCientifico" value="Registrarse" (click)="enviarFormularioCientifico()">
            <a routerLink="../login" class="btn btn-link" id="cancelar">Cancelar</a>
          </form>
        </div>

        <div *ngIf="mostrarRadioButtonsOrganismo" id="radio-buttons-organismo">
          <label>Selecciona un ámbito:</label>
          <input type="radio" id="RBpublico" name="ambitoOrganismo" value="publico" (click)="mostrarFormulario()">
          <label for="RBpublico" id="label-publico">Público</label>
          <input type="radio" id="RBprivado" name="ambitoOrganismo" value="privado" (click)="mostrarFormulario()">
          <label for="RBpublico" id="label-privado">Privado</label>

          <div *ngIf="mostrarFormularioOrganismoPublico" id="formulario-organismo-publico">
            <form id="formularioOrganismoPublico">
              <div class="form-organismo-field">
                <label for="codigoDIR3">Código DIR3:</label>
                <input type="text" id="codigoDIR3" name="idOrganization"><br>
              </div>
              <div class="form-organismo-field">
                <label for="nombreOrganismo">Nombre completo:</label>
                <input type="text" id="nombreOrganismo" name="name"><br>
              </div>
              <div class="form-organismo-field">
                <label for="emailOrganismo">Email:</label>
                <input type="email" id="emailOrganismo" name="email"><br>
              </div>

              <div class="form-organismo-field">
                <label for="localidadOrganismo">Localidad:</label>
                <input type="text" id="localidadOrganismo" name="location"><br>
              </div>

              <div class="form-organismo-field">
                <label for="passwordOrganismo" style="font-weight: bold;">Contraseña:</label>
                <input type="password" id="passwordOrganismo" name="password">
                <button id="showPasswordButtonOrganismoPublico" class="showPasswordButton"
                  (click)="passwordVisibility('passwordOrganismo','showPasswordButtonOrganismoPublico')">
                  <img id="eye" src="../../../assets/images/show_eye_icon.png" alt="Mostrar contraseña">
                </button><br>
              </div>

              <input type="submit" id="registrarseOrganismo" value="Registrarse"
                (click)="enviarFormularioOrganismoPublico()">
              <a routerLink="../login" class="btn btn-link" id="cancelar">Cancelar</a>
            </form>

          </div>

          <div *ngIf="mostrarFormularioOrganismoPrivado" id="formulario-organismo-privado">
            <form id="formularioOrganismoPrivado">
              <div class="form-organismo-field">
                <label for="NIF">NIF:</label>
                <input type="text" id="NIF" name="NIF"><br>
              </div>
              <div class="form-organismo-field">
                <label for="nombreOrganismo">Nombre completo:</label>
                <input type="text" id="nombreOrganismo" name="nombre"><br>
              </div>
              <div class="form-organismo-field">
                <label for="emailOrganismo">Email:</label>
                <input type="email" id="emailOrganismo" name="email"><br>
              </div>

              <div class="form-organismo-field">
                <label for="localidadOrganismo">Localidad:</label>
                <input type="text" id="localidadOrganismo" name="localidad"><br>
              </div>

              <div class="form-organismo-field">
                <label for="passwordOrganismo" style="font-weight: bold;">Contraseña:</label>
                <input type="password" id="passwordOrganismo" name="password">
                <button id="showPasswordButtonOrganismoPrivado" class="showPasswordButton"
                  (click)="passwordVisibility('passwordOrganismo', 'showPasswordButtonOrganismoPrivado')">
                  <img id="eye" src="../../../assets/images/show_eye_icon.png" alt="Mostrar contraseña">
                </button><br>
              </div>

              <input type="submit" id="registrarseOrganismo" value="Registrarse"
                (click)="enviarFormularioOrganismoPrivado()">
              <a routerLink="../login" class="btn btn-link" id="cancelar">Cancelar</a>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>


<router-outlet></router-outlet>