<!DOCTYPE html>
<html>

<head>
    <title>Buscar organismo</title>
    <link rel="stylesheet" type="text/css" href="search-organization.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="header">
        <button id="menuButton"><i class="fas fa-bars"></i></button>
        <div id="menuContent">
            <ul id="features-list">
                <li><a routerLink="../create-publication" class="menu-link">Crear publicación</a></li>
                <li><a routerLink="../my-publications" class="menu-link">Mis publicaciones</a></li>
                <li><a routerLink="../search-publication" class="menu-link">Buscar publicación</a></li>
                <li><a routerLink="../search-organization" class="menu-link">Buscar organismo</a></li>
                <li><a routerLink="../suggest-projects" class="menu-link">Recomendaciones proyectos</a></li>
            </ul>

            <div id="help-links">
                <a routerLink="../create-publication" class="help-link">FAQ</a>
                <a routerLink="../create-publication" class="help-link">Opciones</a>
                <a routerLink="../create-publication" class="help-link">Ayuda</a>
                <a routerLink="../create-publication" class="help-link">Contacto</a>
            </div>

        </div>
        <img src="../../../assets/images/ScienceHub Logo.png" id="ScienceHubLogo" alt="Logo de ScienceHub">
        <span class="title">Científico</span>
        <div class="user-panel" (click)="showOptions = !showOptions" [class.active]="showOptions">
            <div class="user-panel-header">
                <div class="name-icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <span id="nameSpan">{{ userName }}</span>
                </div>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="user-panel-options">
                <div class="user-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                    <a routerLink="../register" id="profileOption">Mi Perfil</a>
                </div>
                <div class="user-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="darkred"
                        class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                    </svg>
                    <a routerLink="../register" id="signOutOption">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <a routerLink="../create-publication" class="btn btn-link">Crear publicación </a>
        <div id="verticalLine">|</div>
        <a routerLink="../my-publications" class="btn btn-link">Mis publicaciones</a>
        <div id="verticalLine">|</div>
        <a routerLink="../search-publication" class="btn btn-link">Buscar publicación</a>
        <div id="verticalLine">|</div>
        <a routerLink="../search-organization" class="btn btn-link">Buscar organismo</a>
        <div id="verticalLine">|</div>
        <a routerLink="../suggest-projects" class="btn btn-link">Recomendaciones proyectos</a>

    </div>

    <div id="contentPanel">
        <div id="centerPanel">
            <h4>Buscar organismo</h4>
            <hr>

            <div class="form-organismo-field">
                <label for="nombreOrganismo"><b><u>Nombre Organismo:</u></b></label>
                <input type="text" id="nombreOrganismo" name="nombreOrganismo"
                    placeholder="Escribe el nombre del organismo que desea buscar" required>

                <button class="btn btn-primary" id="buscarButton" (click)="buscarOrganismo()">
                    <i class="fas fa-search"></i>
                    <span id="buscarSpan">Buscar</span>

                </button>
            </div>

            <div id="organismoInfo">
                <p class="infoLine"><b id="idOrganismoInfo"><u>ID Organismo:</u></b> <span
                        id="idPublicacionSpan"></span>
                </p>

            </div>

        </div>
    </div>



</body>

</html>