.screen{
    background: linear-gradient(0deg, #000000, #15b0db);
    background-size: 400% 400%;

    animation: animation 40s ease infinite;

    position:fixed;
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    font-family:Arial, Helvetica, sans-serif;
    
}

@keyframes animation {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}

.card{
    position: relative;
    width: 575px;
    height: 375px;
    margin: 0 auto;
    margin-top: 10%;
    border:3px black solid;
    border-radius: 50px;
    background-color: white;
}

.card-header{ 
    position: relative;
    text-align: center;
    margin-top: 1%;
    margin-left:25%;
    width: 300px;
    font-weight: bold;
    background-color: white;
}
.card-body{
    margin-top: 2%;
    margin-left: 5%;
}

.username{
    margin-top: 0%;
    width:450px;
}

.mb-3{
    margin-top: 5%;
    width:450px;
}

.btn-primary{
    width: 450px;
    text-align: center;
}

.btn-primary:hover{
    background-color: blue;
}

.btn-link{
    margin-top: 2%;
    color: grey;
    width: 450px;
    text-align: center;
}

.btn-link:hover{
    color:black;
}



