<div class="screen">
    <div class="card">
        <h4 class="card-header">Inicio de Sesión</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="email">
                    <label class="form-label">Correo Electrónico:</label>
                    <input type="text" class="form-control" formControlName="email" required placeholder="Introduzca el correo electrónico">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Contraseña:</label>
                    <input type="password" formControlName="password" class="form-control" required placeholder="Introduzca la contraseña">
                </div>
                
                <div class="mb-3">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Iniciar Sesión
                    </button>
                    <br>
                    <a routerLink="../register" class="btn btn-link">Registro</a>
                </div>
            
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>